# You can use this script as a template for
# customizing the Debian installer.

# This script should contain ONLY variable definitions
# and a function named config_postinstall
#

if [ ! $DEBIAN_INSTALLER ]; then
  echo "This script will only work when run inside the Debian install script"
  exit 1
fi

# Comma separated list of packages to install
#CONFIG_PACKAGES=

# Don't install the mini GUI
#INSTALL_MINI_GUI=0

# The config_postinstall function will be called by the Debian
# installer after all the packages have been installed 
#
# You can use this function to edit config files or install
# packages from other repos
#
# The variable $ROOT contains the path to the root debian filesystem

config_postinstall()
{

# Edit the hostname
#
# echo myhostname > $ROOT/etc/hostname

# Install a custom package
#
# wget -O $ROOT/tmp/package.deb http://example.com/mypackage.deb
# chroot $ROOT /usr/bin/dpkg -i /tmp/package.deb
# rm $ROOT/tmp/kernel.deb

}
